
html, body, #root {
  //height: auto;
  //width: 100%;
  //position: fixed;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //height: 0;
  //overflow: auto;
  //display: flex;
  //margin: auto;
  work-break: break-all

}

.blue {
  color: #007298;
}

body {
  //height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.Cont {
  background-color: white;
  //height: 100%;
  width: 100%;

  .blue {
    color: #007298;
  }

  .Cont-main {
    margin-right: 12px;
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;

    img {
      vertical-align: middle;
      //position: absolute;
    }
  }


}


.cont-header {
  margin-top: 20px;
  display: inline-flex;
  float: left;
  width: 100%;
  margin-left: 15px;

  .header-title {
    display: flex !important;
    width: 100%;


    hr {
      margin-top: 53px;
    }
  }

  img {
    height: 66px;
    width: auto;
  }
}

.title {
  //font-weight: bold;
  position: relative;
  padding: 30px 0 30px 0;
  display: inline-flex;
  line-height: 180%;

  .location {
    font-size: 10px;
    //display: inline-grid;


  }

  .title-text {
    margin-left: 71px;
  }

  .first {
    color: #007298;
    font-size: 31px;
    //font-weight: bolder;
    font-family: NanumSquareRoundEB;
  }

  .second {
    font-weight: normal;
    color: black;
    font-size: 35px;
  }

  .pointer_img {
    vertical-align: middle;
    padding-left: 20px;
    width: 71px;
    height: 62px;
    margin-top: 16px;
  }

  font-size: 2em;
}

.cont-body {

  //height: 80%;
  font-size: 1.1em;
  padding-bottom: 20px;


  .answer {
    color: #007298;
    font-size: 30px;
    font-weight: bold;
    span{
      font-weight: bolder;
      font-family: NanumSquareRoundEB;
    }
  }
  .correctImg{
    width: 150px;
  }

  .wrong {
    color: #007298;
    font-size: 30px;
    font-weight: bold;
    font-family: NanumSquareRoundEB;
  }

  .wrong2 {
    font-size: 18px;
    font-weight: normal;
  }

  .question {
    font-size: 17px;
    color: black;
    font-weight: normal;
    //margin-top: 20px;
  }

  img {
    width: 100%;
    padding: 30px 10px 10px 10px;
    height: auto;
  }

  .hint-text {
    font-size: 16px;
  }
}

.footer {
  margin: 20px 0 20px 0;

  input:focus {
    outline: none
  }

  .aHrefText{
    text-decoration: underline;
  }

  line-height: 20px;

  input {

  }

  span {
    color: #007298;
  }

  .bottom {
    margin: 0px 0px 0px -3px;
    position: absolute;
    bottom: 30px;
    width: 100%;
  }


  .input-answer {
    //bottom: 0;
    //top: 0;
    vertical-align: middle;
    margin-top: 50px;
  }

  .btn-Input-img {
    width: 100%;
    height: 82px;
    background-position-y: 8px;
    background-image: url("../images/common/Rectangle 20@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    text-align: center;

    input:focus {
      outline: none
    }

    font-size: 40px;
    color: white;

  }

  .btn-backQuestion-img {
    width: 90%;
    //height: 73px;
    height: 82px;
    //background-position-y: 8px;
    //background-image: url("src/images/common/backPage@2x.png");
    //background-repeat: no-repeat;
    //background-size: 100%;
    border: 0;
    text-align: center;

    input:focus {
      outline: none
    }

    font-size: 40px;
    color: white;

  }


  .btn-result {
    width: 100%;
    height: auto;
    cursor: pointer;
    //background-position: top right;
    //background-repeat: no-repeat;
    //background-color: firebrick;
    //border-radius: 5px;
    //width: 90%;
    //height: 40%;

  }
}

/*.arrow_box {
  position: relative;
  background: #88b7d5;

  &::after{
    bottom: 100%;
  left: 50%;
  border: 0;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
  }
}

.arrow_box:after {

}*/


