
html, body, #root {
  height: 100%;
  //width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;

}

body {
  height: 100%;
  margin-left: auto;
  margin-right: auto;

}

.Cont {
  background-color: white;
  height: 100%;
  width: 100%;

  .Cont-main {
    margin-right: 12px;
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;

    img {
      vertical-align: middle;
      //position: absolute;
    }
  }


}


.cont-header {
  display: inline-flex;

  .header-title {
    display: flex !important;
  }

  img {
    height: 64px;
    width: auto;
  }
}

.title {
  font-weight: bold;
  position: relative;

  .first {
    color: #007298;
  }

  .second {
    color: black;
  }

  .pointer_img {
    vertical-align: top;
    //margin-bottom: 20px;
    position: absolute;
  }

  font-size: 2em;
}

.cont-body {

  //height: 80%;
  font-size: 1.1em;

  img {
    width: 100%;
    height: auto;
  }
}

.footer {
  margin: 0px 5px 0px 5px;
  position: absolute;
  bottom: 5px;
}

.question {
  //font-size: 10em;
  //color: black;
}

.btn-result {
  //background: url("../images/common/Group 1381.png") no-repeat;
  width: 100%;
  height: auto;
  cursor: pointer;
  //background-position: top right;
  //background-repeat: no-repeat;
  //background-color: firebrick;
  //border-radius: 5px;
  //width: 90%;
  //height: 40%;

}